@import './colorpalette';
@import './material-theme';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

div{
  min-width: 400px;
}

.main-body {
  margin-top: 8px;
}

.nav-wrapper {
  height: 32px;
  background: $greyish-blue;
  color: white;
  font-size: 24px;
  padding: 8px;
  box-shadow: 1px 1px 3px #ccc;
}

.brand-logo {
  padding-left: 8px;
}
