@import './colorpalette';
body {
  background: $default-white;
}

.card {
  background: white;
  margin: 4px;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px grey;
  .content {
    margin: 8px 0px;
  }
}

.right-align {
  text-align: right;
}

input[type='button'], input[type='submit']  {
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 2px;
  background: $simply-blue;
  color: white;
  box-shadow: 1px 2px 4px #ccc
}