@import './colorpalette';

.form {
  font-size: 12px;
  .title {
    margin-bottom: 24px;
    color: $simply-grey;
    text-align: center;
    font-size: 22px;
  }
  .empty {
    margin-bottom: 32px;
    width: 320px;
  }
  input[type='text'] {
    padding: 10px;
    width: 260px;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
  }
  .add-btn {
    background: $simply-green;
    border-radius: 0 5px 5px 0;
    margin: -5px;
  }
}

.todolist {
  li {
    font-size: 20px;
    margin-bottom: 24px;
    color: $simply-grey;
    &:hover {
      text-decoration: line-through;
    }
  }  
}

.right-align.buttons {
  margin-top: 32px;
}
