@import './colorpalette';
body {
  background: $default-white;
  margin: 0;
}

.card {
  background: white;
  margin: 4px;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 1px 1px 4px grey;
  .content {
    margin: 8px 0;
  }
}

.right-align {
  text-align: right;
}

input {
  &:focus {
    outline: 1px solid $simply-grey;
  }
}

input[type='button'], input[type='submit']  {
  padding: 12px 16px;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  margin-left: 4px;
  background: $simply-purple;
  color: white;
  box-shadow: 1px 1px 2px $nearly-white;
  &:hover {
    filter: brightness(1.5);
  }
}
